*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    /* font-family: Roboto, sans-serif; */
} 

/* now start coding of css from here  */

body{
    background: radial-gradient(#fff, #ffd6d6);
    font-family: 'Poppins', sans-serif;
}
.title {
    text-align: center;
    margin: 30px auto 50px;
    color: #767378;
    font-size: 35px;
}

span{
    color: #ff914d;
}
span:hover{
   text-transform: uppercase;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 10rem;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h3{
    font-size: 25px;
    /* font-weight: bolder; */
    max-width: 35rem;
    width: 96%;
    border-radius: 4px;
    background-color: rgba(223, 221, 224,0.4);
    margin: 20px auto;
    padding: 4px 60px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

h3:hover{
    color: #f50000;
}