@charset "utf-8";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}

/* now start coding of css from here  */

body{
    background: whitesmoke;
}

main h1{
    max-width: 600px;
    width: 90%;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    border-bottom: 4px solid rgb(189, 161, 161);
    margin: 0 auto;
    margin-bottom: 40px;
}

main h3{
    font-size: 25px;
    font-weight: bolder;
    max-width: 800px;
    width: 96%;
    border-radius: 4px;
    background-color: rgba(130, 93, 168,0.4);
    margin: 0 auto;
    padding: 4px 60px;
    margin-top: 10px;
}

/*========= レイアウトのためのCSS ===============*/

#wrapper{
    width:100%;
    height: 50vh;
      
      overflow: hidden;
      position: relative;
  }
  
  /*========= waveを描画するエリア設定 ===============*/
  
  canvas{
      position: absolute;
      bottom: 0;
    left:0;
      width: 100%;
  }

  /*ヤシの設定-*/

  .tree{
    width: 400px;
    position: relative;
    float: right;
    z-index: 100; /* to make tree up*/
  }

  #main_background{
    background: -moz-linear-gradient(top, #95DAEF, #A070F2);
      background: -webkit-linear-gradient(top, #95DAEF, #A070F2);
      background: linear-gradient(to bottom, #95DAEF, #A070F2);
      /*グラデーション以外は省略*/
  }


.logo{
    width:  180px;       /* ※縦横を同値に */
    height: 180px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
}

.flex{
  display: flex;
}

.flex_center{
  justify-content: center;
}

.flex_space{
  justify-content: space-between;
}


.home_text{
  font-size: 36px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  padding: 60px 0px 0px 100px;
  
}



#home{
  background: -moz-linear-gradient(top, #FFC778, #FFF);
  background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #FFC778, #FFF);
  /*グラデーション以外は省略*/
}

.logo_wrapper{
  padding-top: 100px;

}

/*section setting*/
.section_text{
  text-align: center;
  font-size: 36px;
  padding-top: 150px;
  padding-bottom: 80px;
}

.center{
  text-align: center;
}

.about_text{
  font-size: 30px;
}

.anchor{
  display: block;
  padding-top: 70px;
  margin-top: -70px;
}

/*team_member*/
.team_member{
  width: 800px;
  margin-left: 450px;
}

.team_member_msg{
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}

/*バブルの設定*/